@font-face {
  font-family: lcdsolid;
  src: url(LcdSolid-VPzB.ttf);
}
:root {
  --main-color: white;
  --main-font-family: lcdsolid;
}
body{
  background-color: black;
}
h1{
  color: var(--main-color);
  font-family: var(--main-font-family);
  text-align: center;
}
img{
  display: block;
  margin-left: auto;
  background-color: black;
  margin-right: auto;
  border-style: solid;
  border-radius: 16px;
  cursor: pointer;
}
img:hover{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 16px;
  cursor: pointer;
  opacity: 60%;
}
.Home{
  position: fixed;
  left: 0px; top: 0px;
  background-color: black;
  background-color: black;
  font-family: lcdsolid;
  font-display: optional;
  border: solid;
  border-radius: 6px;
  font-size: 30px;
  font-weight: 700;
  color: var(--main-color);
  cursor: pointer;
  border-color: black;
}
.beta{
  position: fixed;
  right: 0px; bottom: 0px;
  background-color: black;
  background-color: black;
  font-family: lcdsolid;
  font-display: optional;
  border: solid;
  border-radius: 6px;
  font-size: 30px;
  font-weight: 700;
  color: var(--main-color);
  cursor: pointer;
  border-color: black;
}
.random{
  position: fixed;
  right: 0px; top: 0px;
  background-color: black;
  font-family: lcdsolid;
  font-display: optional;
  border: solid;
  border-radius: 6px;
  font-size: 30px;
  font-weight: 700;
  color: var(--main-color);
  cursor: pointer;
  border-color: black;
}
.counter-span {
  display: inline-block;
  padding: 10px 10px 6px;
  border-radius: 15px;
  background: black;
  color: white;
  margin: 5px 5px;
  font-size: 20px;
  font-display: optional;
  font-family: lcdsolid;
  border-style: solid;
}
.counter{
  position: fixed;
  left: 0px;
  bottom: 0px;
  color: white;
  font-family: lcdsolid;
}
.countertitle{
  position: fixed;
  left: 6px;
  bottom: 35px;
  color: white;
  font-family: lcdsolid;
}


.area{
    background: #121212;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
  position:fixed;
       min-height: 400vh !important;
    height: 100%;
  /*THE .AREA HEIGHT NEEDS TO BE THE SAME VALUE AS THE .CIRCLES HEIGHT*/
  z-index:-1;
  
  
}
s {
  text-decoration:line-through 2px;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
      min-height: 400vh !important;
    height: 100%;
   position:fixed;
    /*THE .AREA HEIGHT NEEDS TO BE THE SAME VALUE AS THE .CIRCLES HEIGHT*/
    overflow: hidden;
 
}

.circles li{
    position:fixed;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
   
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(11){
    left: 85%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    animation-duration: 11s;
}
.circles li:nth-child(12){
    right: 85%;
    width: 45px;
    height: 45px;
    animation-delay: 5s;
    animation-duration: 11s;
}
.circles li:nth-child(13){
    left: 85%;
    width: 15px;
    height: 15px;
    animation-delay: 8s;
    animation-duration: 11s;
}
.circles li:nth-child(14){
    right: 85%;
    width: 45px;
    height: 45px;
    animation-delay: 4s;
    animation-duration: 11s;
}
.circles li:nth-child(15){
    left: 85%;
    width: 90px;
    height: 90px;
    animation-delay: 2s;
    animation-duration: 11s;
}
.circles li:nth-child(16){
    right: 85%;
    width: 78px;
    height: 78px;
    animation-delay: 9s;
    animation-duration: 11s;
}
.circles li:nth-child(17){
    left: 85%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(18){
    right: 85%;
    width: 67px;
    height: 67px;
    animation-delay: 5s;
    animation-duration: 11s;
}
.circles li:nth-child(19){
    left: 85%;
    width: 5px;
    height: 5px;
    animation-delay: 2s;
    animation-duration: 11s;
}
.circles li:nth-child(20){
    right: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 2s;
    animation-duration: 11s;
}




@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}