@font-face {
    font-family: Nunito;
    src: url(Nunito-SemiBold.ttf);
}
body{
    font-family: Nunito;
    text-align: center;
    font-size: 5rem;
    background-color: #0D1624;
    color: aliceblue;
    animation: slideInUp;
    animation-duration: 1s;
}
.Title::after{

    content: 'DNAP 👋';
    
}
.Title:hover::after{
    content: 'definitely not a proxy ';
    
}
.Popular{
    font-size: 2rem;
    text-align: left;
}


/* HORIZONTAL SCROLL */
.scroll-container{
    overflow: auto;
    white-space: nowrap;
    padding: 5px 70px 5px 20px;
    background: transparent;
    height: 100%;
    border-radius:15px;
}
  
.gridscroll{
    display:inline-block;
}
  
.gridscroll img {
    margin-right:22px;
}
img{
    border-radius: 30px;
    cursor: pointer;
}
.fire{
    width: 30px;
    fill: aliceblue;
}
.old{
    text-align: center;
    font-size: 2rem;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: aliceblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 16px;

}
  
#myBtn:hover {
    background-color: #555;
}