@font-face {
    font-family: Nunito;
    src: url(/Nunito-SemiBold.ttf);
}
body{
    font-family: Nunito;
    background: #0D1624;
}

.myGallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    max-width: 70%;
    margin: auto;
}
  
.myGallery img {
    width: 100%;
    border-radius: 20%;
    animation: backInUp;
    animation-duration: 1s;
    transition: 0.1s;
}
.myGallery img:hover{
    border-radius: 10%;
    transition: 0.1s;

}
.title{
    font-size: 3rem;
    color: aliceblue;
    text-align: center;
}























































































.search-container {
    width: 15%;
    border-radius: 10px;
    margin: 20px auto;
    transition: 0.3s;
    animation: zoomIn;
    animation-duration: 1s;
}
.search-container:hover{
    width: 33.3333333%;
    transition: 1s;
}
#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}
#search-input:hover{
    background-color: #0D1624;
    color: aliceblue;
    transition: 0.2s;

}
#results-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: aliceblue;
    transition: 0.3s;

}

#results-list li {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

#results-list li a {
    color: aliceblue;
    font-size: 1.5rem;
}

#results-list li a:hover {
    
}
#results-list img{
    border-radius: 3px;
    width: 10%;
    height: 10%;
}
@media screen and (max-width: 900px) {
    .search-container {

      transition: 0.3s;
      margin-left: auto;
      margin: none;
    }
    #search-input{
        transition: 0.3s;
        font-size: 1.2rem;
        top: 0;
    }
    #results-list li a {
        color: aliceblue;
        font-size: 0.5rem;
    }
    #results-list img{
        border-radius: 3px;
        width: 50px;
        height: 50px;
    }
    .myGallery img{
        width: 100%;
        transition: 0.3s;
    }
    .myGallery{
        grid-gap: 4px;
        transition: 0.3s;
    }
}