@font-face {
    font-family: Nunito;
    src: url(/Nunito-SemiBold.ttf);
}
body{
    font-family: Nunito;
    background: #0D1624;
}

.myGallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    max-width: 70%;
    margin: auto;
}
  
.myGallery img {
    width: 100%;
    border-radius: 20%;
    animation: backInUp;
    animation-duration: 1s;
}
.myGallery img:hover{
    border-radius: 10%;
    transition: 0.1s;

}
























































































.search-container {
    width: 300px;
    border-radius: 10px;
    margin: 20px auto;
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#search-input:hover{
    background-color: #0D1624;
    color: aliceblue;
    transition: 0.2s;
}
#results-list {
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

#results-list li {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

#results-list li a {
    color: aliceblue;
    font-size: 1.5rem;
}

#results-list li a:hover {
    background-color: black;
    border-radius: 3px;
}
#results-list img{
    border-radius: 3px;
    width: 10%;
    height: 10%;
}